<section class="bg-home">
  <div class="d-flex flex-wrap justify-content-center align-content-around flex-column">
    <div class="jumbotron jumbotron-fluid text-center container">
      <h1 class="display-4">South Clean Serivce</h1>
      <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem cupiditate maxime quo, ea
        molestiae magnam illum, perspiciatis
        necessitatibus id laudantium minus vel commodi officiis, totam nemo error. Ipsum, provident porro.</p>
      <button class="btn btn-outline-success" routerLink="/services">Check our offers</button>
    </div>
  </div>
</section>
