<footer class="footer_area">
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-sm-6">
        <div class="single_ftr">
          <h4 class="sf_title">Quick links</h4>
          <ul>
            <li><a routerLink="/home">Home</a></li>
            <li><a routerLink="/about-us">About us</a></li>
            <li><a routerLink="/services">Services</a></li>
            <li><a routerLink="/gallery">Gallery</a></li>
            <li><a routerLink="/contact-us">Contact us</a></li>
          </ul>
        </div>
      </div> <!--  End Col -->

      <div class="col-md-4 col-sm-6">
        <div class="single_ftr">
          <h4 class="sf_title">Contacts</h4>
          <ul>
            <li><i class="fas fa-map-marker-alt fa-2x"></i> Selby Place, Southampton<br>
              <small>Southampton, Great Britain</small>
            </li>
            <li><i class="fas fa-mobile-alt fa-2x"></i> <a href="tel:07807 723856"> 07807 723856</a> <br>
              <small>alternative: <a href="tel:07399 459907">07399 459907</a></small>
            </li>
            <li><i class="fas fa-envelope fa-2x"></i>  <a href="mailto:beefreecleaningservices@gmail.com"> beefreecleaningservices@gmail.com</a>
              <br>
              <small><a routerLink="/contact-us">Contact us for more information</a></small>
            </li>
          </ul>
        </div>
      </div> <!--  End Col -->

      <div class="col-md-4 col-sm-6">
        <div class="ftr_social_icon">
          <h4 class="sf_title">Find us</h4>
          <ul>
            <li><a href="https://www.facebook.com/southbeesservices/"><i class="fab fa-facebook-f"></i></a></li>
            <li><a href="https://www.instagram.com/beefreesouthclean/"><i class="fab fa-instagram"></i></a></li>
            <!--<li><a href="#"><i class="fab fa-twitter"></i></a></li>-->
            <!--<li><a href="#"><i class="fab fa-youtube"></i></a></li>-->
          </ul>
          <a class="navbar-brand" routerLink="/home">
            <img src="assets/images/logo.png" width="110px" height="110px">
          </a>
        </div>
      </div> <!--  End Col -->

    </div>
  </div>


  <div class="ftr_btm_area">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <p class="copyright_text text-center">© 2019 All Rights Reserved Bee Free South Clean Services</p>
        </div>
      </div>
    </div>
  </div>
</footer>
