<div class="container-fluid">
  <div class="row">
    <div class="offset-2"></div>
    <div class="col-md-8">
      <form name="contactForm" #contact="ngForm" (ngSubmit)="contact.form.valid  && sendForm();" novalidate>

        <!--Name-->
        <div class="form-group">
          <label for="name">Name</label>
          <input type="text"
                 id="name"
                 class="form-control"
                 name="name"
                 placeholder="Type your name here"
                 [(ngModel)]="contactForm.name"
                 #name="ngModel"
                 [ngClass]="{ 'is-invalid': contact.submitted && name.invalid}"
                 required="required"/>

          <!--input validation group-->
          <div *ngIf="contact.submitted && name.invalid">
            <!--input validation errors-->
            <div class="invalid-input" *ngIf="name.errors">Name is not valid</div>
          </div>
        </div>

        <!--Email-->
        <div class="form-group">
          <label for="email">Email</label>
          <input type="email"
                 id="email"
                 class="form-control"
                 name="email"
                 placeholder="Type your e-mail address here"
                 [(ngModel)]="contactForm.email"
                 #email="ngModel"
                 [ngClass]="{ 'is-invalid': contact.submitted && !email.valid}"
                 required email/>
          <div *ngIf="contact.submitted && !email.valid">

            <!--input validation errors-->
            <div class="invalid-input" *ngIf="email.errors.required">Email is required</div>
            <div class="invalid-input" *ngIf="email.errors.email">Email is not valid</div>
          </div>
        </div>

        <!--Telephone number-->
        <div class="form-group">
          <label for="telephoneNumber">Telephone number</label>
          <input type="number"
                 id="telephoneNumber"
                 class="form-control"
                 name="telephoneNumber"
                 placeholder="Type your telephone number here"
                 [(ngModel)]="contactForm.telephoneNumber"
                 #telephoneNumber="ngModel"
                 [ngClass]="{ 'is-invalid': contact.submitted && !telephoneNumber.valid}"
                 required/>
          <div *ngIf="contact.submitted && !telephoneNumber.valid">
            <!--input validation errors-->
            <div class="invalid-input" *ngIf="telephoneNumber.errors.required">Telephone number is required</div>
          </div>
        </div>

        <!--Post Code-->
        <div class="form-group">
          <label for="postCode">Postcode</label>
          <input type="text"
                 id="postCode"
                 class="form-control"
                 name="postCode"
                 placeholder="Type your postcode here"
                 [(ngModel)]="contactForm.postCode"
                 #postCode="ngModel"
                 [ngClass]="{ 'is-invalid': contact.submitted && !postCode.valid }"
                 required/>
          <div *ngIf="contact.submitted && !postCode.valid">
            <!--input validation errors-->
            <div class="invalid-input" *ngIf="postCode.errors.required">Postcode is required</div>
          </div>
        </div>

        <!--Query-->
        <div class="form-group">
          <label for="query">Your query</label>
          <textarea
            id="query"
            class="form-control"
            name="query"
            placeholder="Type your query here"
            rows="10"
            [(ngModel)]="contactForm.query"
            #query="ngModel"
            [ngClass]="{ 'is-invalid': contact.submitted && !query.valid}"
            required minlength="10">
          </textarea>
          <div *ngIf="contact.submitted && !query.valid">
            <!--input validation errors-->
            <div class="invalid-input" *ngIf="query.errors.required">Field is required</div>
            <div class="invalid-input" *ngIf="query.errors.minlength">Your feedback is too short. Min 10
              characters.
            </div>
          </div>
        </div>
        <button *ngIf="recaptchaChecker" type="submit" class="btn btn-info pull-right">
          <i class="fa fa-envelope-o"></i>
          <span>Contact us</span>
        </button>
        <hr>
        <re-captcha (resolved)="resolved($event)" siteKey="6LeelL0UAAAAADhn8tAY2k3VphJhvP6qu0Kp67u1"></re-captcha>
      </form>
    </div>
  </div>
</div>
