<header>
  <nav class="navbar navbar-dark fixed-top navbar-expand-xl py-3" data-toggle="affix">
    <a class="navbar-brand" routerLink="/home">
      <img src="assets/images/logo.png" class="brand">
      <span>Bee Free South Clean Services</span>
    </a>
    <button (click)="isCollapsed = !isCollapsed" class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-main" aria-controls="navbar-main" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
  </button>
    <div class="collapse navbar-collapse no-transition justify-content-end text-uppercase" [attr.aria-expanded]="!isCollapsed" [ngClass]="{collapse: isCollapsed}" id="collapsibleNavId">
      <ul class="navbar-nav" (click)="isCollapsed = !isCollapsed">
        <li routerLinkActive="active"
            [routerLinkActiveOptions]="{exact: true}" class="nav-item">
          <a routerLink="/home" class="nav-link">Home</a>
        </li>
        <li routerLinkActive="active" class="nav-item">
          <a routerLink="/about-us" class="nav-link">About Us</a>
        </li>
        <li routerLinkActive="active" class="nav-item">
          <a routerLink="/services" class="nav-link" href="#">Services</a>
        </li>
        <li routerLinkActive="active" class="nav-item">
          <a routerLink="/gallery" class="nav-link" href="#">Gallery</a>
        </li>
        <!--<li routerLinkActive="active" class="nav-item">-->
        <!--<a routerLink="/testimonials" class="nav-link" href="#">Testimonials</a>-->
        <!--</li>-->
        <li routerLinkActive="active" class="nav-item">
          <a routerLink="/contact-us" class="nav-link" href="#">Contact Us</a>
        </li>
      </ul>
    </div>
  </nav>
</header>
