<section class="services">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="page-caption">
            <div class="border-caption">
              <h2 class="page-title">Service options</h2>
            </div>
          </div>
        </div>
      </div>
      <div class="row d-flex justify-content-center mt-4">
          <div class="col-12 col-xl-10">
          <div id="accordion">
            <div class="card shadow-effect mb-4">
              <div class="card-header p-0" id="heading1">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapse1" aria-expanded="true"
                aria-controls="collapse1">
              <i class="fas fa-home fa-3x float-left iconbar" style="padding-left: 25px; padding-right: 25px;" aria-hidden="true"></i>
              <h4 class="text-uppercase white-text py-2 bar">
                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse1" aria-expanded="false" aria-controls="collapse1">
                  Domestic cleaning
                </button>
              </h4>
              </a>
            </div>
              <div id="collapse1" class="collapse show" aria-labelledby="heading1" data-parent="#accordion">
                <div class="card-body">
                    <b>Regular Domestic Cleaning </b>could be on a weekly basis – just once, or several times per week
                    or
                    on a fortnightly basis, all dependent on your needs. This cleaning service includes all general and
                    thorough house duties done on a regular basis. Our experienced Southampton-based domestic cleaners
                    are fully trained and guaranteed to clean your home to the highest standard, leaving you to enjoy
                    your spare time free from the worry of household chores, in a house that sparkles clean.
                </div>
              </div>
            </div>
            <div class="card shadow-effect mb-4">
              <div class="card-header p-0" id="heading2">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapse2" aria-expanded="true"
                aria-controls="collapse2">
              <i class="fas fa-broom fa-3x float-left iconbar" style="padding-left: 22px; padding-right: 22px;" aria-hidden="true"></i>
              <h4 class="text-uppercase white-text py-2 bar">
                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse2" aria-expanded="false" aria-controls="collapse2">
                  Carpet cleaning
                </button>
              </h4>
              </a>
            </div>
              <div id="collapse2" class="collapse" aria-labelledby="heading2" data-parent="#accordion">
                <div class="card-body">
                  Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.BeeFree Cleaning services LTD offers a <b>Carpet & upholstery cleaning</b> in Southampton for your
                  residential property or commercial premises. Whether you require carpet cleaning, stain removal, rug
                  cleaning, upholstery cleaning or sofa cleaning, our insured cleaners can help you get the fresh look
                  back to your property.
                  Our carpet & upholstery cleaners are well trained, and use the latest equipment to ensure that our
                  customers receive the highest level of care when it comes to carpet, upholstery & furniture
                  cleaning.
                </div>
              </div>
            </div>
            <div class="card shadow-effect mb-4">
              <div class="card-header p-0" id="heading3">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapse3" aria-expanded="true"
                aria-controls="collapse3">
              <i class="fas fa-building fa-3x float-left iconbar" style="padding-left: 30px; padding-right: 30px;" aria-hidden="true"></i>
              <h4 class="text-uppercase white-text py-2 bar">
                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse3" aria-expanded="false" aria-controls="collapse3">
                  Commercial cleaning
                </button>
              </h4>
              </a>
            </div>
              <div id="collapse3" class="collapse" aria-labelledby="heading3" data-parent="#accordion">
                <div class="card-body">
                  BeeFree offers cleaning services for your business needs: office, nurseries, schools,shops and
                      churches. <b>The office cleaning services</b> are carried out by our most experienced and well
                      trained cleaners. Office cleaning is a weekly service, and we recommend it be carried out early in the
                      morning or late afternoons to ensure that our cleaners do not get in your way. Communication is key! We ask
                      for any specific instructions in order to deliver the the best possible office cleaning service.
                </div>
              </div>
            </div>
            <div class="card shadow-effect mb-4">
              <div class="card-header p-0" id="heading4">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapse4" aria-expanded="true"
                aria-controls="collapse4">
              <i class="fas fa-key fa-3x float-left iconbar" style="padding-left: 27px; padding-right: 27px;" aria-hidden="true"></i>
              <h4 class="text-uppercase white-text py-2 bar">
                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse4" aria-expanded="false" aria-controls="collapse4">
                  End of tenancy
                </button>
              </h4>
              </a>
            </div>
                <div id="collapse4" class="collapse" aria-labelledby="heading4" data-parent="#accordion">
                  <div class="card-body">
                    Just 24 hours after contacting us, we able to provide you with comprehensive end of tenancy
                    cleaning. It is the most strongly recommended when you are selling a house or moving in/out. No
                    matter if you are the owner of a property, a landlord of a flat or a tenant, a particular interior
                    will be neat and shiny in the blink of an eye!
                    We provide you with excellent cleaning services and we always meet any requirements of an estate
                    agency. We focus on every single detail!
                    Please note:
                    The property must be ready to be cleaned at the moment of our arrival. We do not take responsibility
                    of the ingrained dirt which is impossible to be eliminated with the use of detergents. You have to
                    defrost your freezers before we come, because it takes too much time. If you want your wardrobes and
                    cupboards to be washed as well, please empty them earlier. Our end of tenancy cleaning service does
                    not concern walls or any old paint.
                  </div>
                </div>
              </div>
              <div class="card shadow-effect mb-4">
                <div class="card-header p-0" id="heading5">
                  <a data-toggle="collapse" data-parent="#accordion" href="#collapse5" aria-expanded="true"
                  aria-controls="collapse5">
                <i class="fas fa-glass-cheers fa-3x float-left iconbar" style="padding-left: 21px; padding-right: 21px;" aria-hidden="true"></i>
                <h4 class="text-uppercase white-text py-2 bar">
                  <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse5" aria-expanded="false" aria-controls="collapse5">
                    After party cleaning
                  </button>
                </h4>
                </a>
              </div>
                <div id="collapse5" class="collapse" aria-labelledby="heading5" data-parent="#accordion">
                  <div class="card-body">
                    The party was great but the, house looks terrible,right?Want the fun without the mess? Well we can
                    take care of the mess with our specially designed after <b>party cleaning service</b> after you take
                    care
                    of the fun! Our after party cleaning is the service you need if you would like to enjoy the fun, but
                    don’t want to deal with the mess. Our trained and experienced cleaners are able to clean the
                    property into shape after a party, leaving no traces of the party from the night before. BeeFree
                    cleaning services LTD is able to provide cleaners at the time and day that best suits its customers
                    ensuring a swift after party cleaning service.
                  </div>
                </div>
              </div>
              <div class="card shadow-effect mb-4">
                <div class="card-header p-0" id="heading6">
                  <a data-toggle="collapse" data-parent="#accordion" href="#collapse6" aria-expanded="true"
                  aria-controls="collapse6">
                <i class="fas fa-calendar-day fa-3x float-left iconbar" style="padding-left: 28px; padding-right: 28px;" aria-hidden="true"></i>
                <h4 class="text-uppercase white-text py-2 bar">
                  <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse6" aria-expanded="false" aria-controls="collapse6">
                    One off cleaning
                  </button>
                </h4>
                </a>
              </div>
                <div id="collapse6" class="collapse" aria-labelledby="heading6" data-parent="#accordion">
                  <div class="card-body">
                    <b>One-off cleaning</b> is a professional cleaning for clients who do not need a cleaner on a
                    regular
                    basis. You able to just order a cleaner when a need of cleaning arises. We can supply you with
                    professional cleaning staff that can dust sweep, and clean your house into shape at a great price! A
                    lot of people book this kind of cleaning services Southampton just before some holidays, in the
                    spring time, before some very important celebrations or just to refresh their houses. We can clean
                    from top to bottom- including kitchen deep cleaning, oven and hob extractor cleaning, deep bathroom
                    cleaning, carpet and upholstery cleaning services, window and conservatory cleaning and many more…
                    The most important you need to know about this cleaning is that it’s take more time than usual
                    cleaning. The DEEP cleaning services cant’t be done in 2- 3 hours and this is the reason to be more
                    expensive. Our experienced and reliable cleaners will clean everything in details. Our minimum hours
                    for this cleaning are 4.
                    When you book this service with BeeFree cleaning services LTD we’ll give you a change to book one-
                    off cleaning including professional cleaning materials or without materials. Our customers prefer to
                    book the service with our cleaning materials and equipment- to be honest this better than going
                    shopping and wondering which product works better for limescale, bathroom tiles, toilet clean, etc.
                    The cleaning products we use for the job are subject to additional charge. Any other additional
                    services can be booked as well- they are subject to additional charge.
                  </div>
                </div>
              </div>
              <div class="card shadow-effect mb-4">
                  <div class="card-header p-0" id="heading7">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse7" aria-expanded="true"
                    aria-controls="collapse7">
                  <i class="fas fa-car fa-3x float-left iconbar" aria-hidden="true"></i>
                  <h4 class="text-uppercase white-text py-2 bar">
                    <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse7" aria-expanded="false" aria-controls="collapse7">
                      Car valeting
                    </button>
                  </h4>
                  </a>
                </div>
                <div id="collapse7" class="collapse" aria-labelledby="heading7" data-parent="#accordion">
                  <div class="card-body">
                    BeeFree is offering a <b>car valet</b> which is designed for vehicles that require interior fully
                    valeted consisting vacuum, shampooing and stain removal of seats, carpets, mats, door linings, roof lining
                    and sun visors, all plastics and vinyl's cleaned and polished with boot valeted.We are fully
                    insured. In our interior valet: we brush all interior fabric areas, seats, carpets and boot. we wash and polish ashtrays.
                    all interior plastics are pre-sprayed and scrubbed
                    we shampoo all fabric areas, seats (if fabric), carpets, headlining and panels,
                    Please note that after valeting service your car will require drying. We will suck most of the water out however car will require final drying (engine running with heating on for at least 3 hrs).
                  </div>
                </div>
              </div>
      <div class="card shadow-effect mb-4">
        <div class="card-header p-0" id="heading9">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapse8" aria-expanded="true"
          aria-controls="collapse8">
        <i class="fas fa-tint fa-3x float-left iconbar" style="padding-left: 30px; padding-right: 30px;" aria-hidden="true"></i>
        <h4 class="text-uppercase white-text py-2 bar">
          <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse8" aria-expanded="false" aria-controls="collapse8">
            Pressure washing
          </button>
        </h4>
        </a>
      </div>
        <div id="collapse8" class="collapse" aria-labelledby="heading8" data-parent="#accordion">
          <div class="card-body">
            It happens that our client is not aware how dirty his or her patio, pathway or driveway was and reacts with total amazement to the final result of our work, as the difference is startling. Thanks to our innovative pressure washers, we can make any hard surface outside look neat, shiny and almost like new. It is important to take care of your pavements, patios, paths and driveways, as they usually affect the first impression that a guest has while coming to your house.
            Order our professional high pressure cleaning anywhere in Southampton and areas now! Thanks to our skills and modern equipment, we will take thorough care of your property. Namely, we can:
            clean your driveways, patios, exterior walls, deckings, wooden fences, house facades, conservatories, garden furniture,
            wash external horizontal surfaces, eliminate moss, remove chewing gums.
          </div>
        </div>
      </div>
      <div class="card shadow-effect mb-4">
        <div class="card-header p-0" id="heading9">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapse9" aria-expanded="true"
            aria-controls="collapse9">
          <i class="fas fa-brush fa-3x float-left iconbar" style="padding-left: 30px; padding-right: 30px;" aria-hidden="true"></i>
          <h4 class="text-uppercase white-text py-2 bar">
            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse9" aria-expanded="false" aria-controls="collapse9">
              Deep cleaning
            </button>
          </h4>
          </a>
        </div>
        <div id="collapse9" class="collapse" aria-labelledby="heading9" data-parent="#accordion">
          <div class="card-body">
            Deep cleaning is a much more intense process it is the most complete cleaning you can do in your house and needs to be well planned for. You may have a regular schedule to clean your house , however you need a deep house cleaning to reach those places that regular cleaning doesn’t. We highly recommend to use deep cleaning before you start using our regular domestic cleaning service. This way your property will be thoroughly cleaned from the start. You can also take advantage of the one off deep cleaning before a holiday season, special family event, it is ideal as occasional cleaning at any time of the year to make your home refreshed, sanitized , so no infections or bacteria will be able to spread there and sparkling like brand new, just the way you want it. You will benefit yourself and your family with hygienic and well-kept home where you can spend your quality time together.
            Deep cleaning is different from regular domestic cleaning or one- off cleaning because it reaches the deep grime and dirt. It covers areas which aren’t cover by regular clean.
            Minimum hours 3
          </div>
        </div>
      </div>
      </div>
      </div>
      </div>
    </div>
        <!-- <div class="container box text-center">
          <div class="row">
            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
              <div class="carousel-inner">
                <div class="carousel-item active">
            <div class="row">
              <div class="col-12 col-md-4 princing-item red">
                <div class="pricing-divider ">
                  <h3 class="text-light">Domestic cleaning</h3>
                  <svg class='pricing-divider-img' enable-background='new 0 0 300 100' height='100px' id='Layer_1'
                       preserveAspectRatio='none' version='1.1' viewBox='0 0 300 100' width='300px' x='0px'
                       xml:space='preserve' xmlns='http://www.w3.org/2000/svg'
                       y='0px'>
                  <path
                    class='deco-layer deco-layer--1'
                    d='M30.913,43.944c0,0,42.911-34.464,87.51-14.191c77.31,35.14,113.304-1.952,146.638-4.729c48.654-4.056,69.94,16.218,69.94,16.218v54.396H30.913V43.944z'
                    fill='#FFFFFF'
                    opacity='0.6'></path>
                    <path
                      class='deco-layer deco-layer--2'
                      d='M-35.667,44.628c0,0,42.91-34.463,87.51-14.191c77.31,35.141,113.304-1.952,146.639-4.729c48.653-4.055,69.939,16.218,69.939,16.218v54.396H-35.667V44.628z'
                      fill='#FFFFFF'
                      opacity='0.6'></path>
                    <path
                      class='deco-layer deco-layer--3'
                      d='M43.415,98.342c0,0,48.283-68.927,109.133-68.927c65.886,0,97.983,67.914,97.983,67.914v3.716 H42.401L43.415,98.342z'
                      fill='#FFFFFF'
                      opacity='0.7'></path>
                    <path class='deco-layer deco-layer--4' d='M-34.667,62.998c0,0,56-45.667,120.316-27.839C167.484,57.842,197,41.332,232.286,30.428
          c53.07-16.399,104.047,36.903,104.047,36.903l1.333,36.667l-372-2.954L-34.667,62.998z' fill='#FFFFFF'></path>
                </svg>
                </div>
                <div class="card-body bg-white mt-0 shadow">
                  <ul class="list-unstyled mb-r position-relative">
                    <li><b>Regular Domestic Cleaning </b>could be on a weekly basis – just once, or several times per week
                      or
                      on a fortnightly basis, all dependent on your needs. This cleaning service includes all general and
                      thorough house duties done on a regular basis. Our experienced Southampton-based domestic cleaners
                      are fully trained and guaranteed to clean your home to the highest standard, leaving you to enjoy
                      your spare time free from the worry of household chores, in a house that sparkles clean.
                    </li>
                  </ul>

                  <a routerLink="/contact-us" class="btn btn-outlined btn-red btn-lg" data-wow-delay="0.7s">Booking
                    now</a>
                </div>
              </div>
              <div class="col-12 col-md-4 princing-item blue">
                <div class="pricing-divider">
                  <h3 class="text-light">Carpet cleaning</h3>
                  <svg class='pricing-divider-img' enable-background='new 0 0 300 100' height='100px' id='Layer_1'
                       preserveAspectRatio='none' version='1.1' viewBox='0 0 300 100' width='300px' x='0px'
                       xml:space='preserve' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns='http://www.w3.org/2000/svg'
                       y='0px'>
                  <path class='deco-layer deco-layer--1' d='M30.913,43.944c0,0,42.911-34.464,87.51-14.191c77.31,35.14,113.304-1.952,146.638-4.729
          c48.654-4.056,69.94,16.218,69.94,16.218v54.396H30.913V43.944z' fill='#FFFFFF' opacity='0.6'></path>
                    <path class='deco-layer deco-layer--2' d='M-35.667,44.628c0,0,42.91-34.463,87.51-14.191c77.31,35.141,113.304-1.952,146.639-4.729
          c48.653-4.055,69.939,16.218,69.939,16.218v54.396H-35.667V44.628z' fill='#FFFFFF' opacity='0.6'></path>
                    <path class='deco-layer deco-layer--3' d='M43.415,98.342c0,0,48.283-68.927,109.133-68.927c65.886,0,97.983,67.914,97.983,67.914v3.716
          H42.401L43.415,98.342z' fill='#FFFFFF' opacity='0.7'></path>
                    <path class='deco-layer deco-layer--4' d='M-34.667,62.998c0,0,56-45.667,120.316-27.839C167.484,57.842,197,41.332,232.286,30.428
          c53.07-16.399,104.047,36.903,104.047,36.903l1.333,36.667l-372-2.954L-34.667,62.998z' fill='#FFFFFF'></path>
                </svg>
                </div>

                <div class="card-body bg-white mt-0 shadow">
                  <ul class="list-unstyled mb-5 position-relative">
                    <li>
                      BeeFree Cleaning services LTD offers a <b>Carpet & upholstery cleaning</b> in Southampton for your
                      residential property or commercial premises. Whether you require carpet cleaning, stain removal, rug
                      cleaning, upholstery cleaning or sofa cleaning, our insured cleaners can help you get the fresh look
                      back to your property.
                      Our carpet & upholstery cleaners are well trained, and use the latest equipment to ensure that our
                      customers receive the highest level of care when it comes to carpet, upholstery & furniture
                      cleaning.
                    </li>
                  </ul>
                  <a routerLink="/contact-us" class="btn btn-outlined btn-blue btn-lg" data-wow-delay="0.7s">Booking
                    now</a>
                </div>
              </div>
              <div class="col-12 col-md-4 princing-item green">
                <div class="pricing-divider ">
                  <h3 class="text-light">Commercial cleaning</h3>
                  <svg class='pricing-divider-img' enable-background='new 0 0 300 100' height='100px' id='Layer_1'
                       preserveAspectRatio='none' version='1.1' viewBox='0 0 300 100' width='300px' x='0px'
                       xml:space='preserve' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns='http://www.w3.org/2000/svg'
                       y='0px'>
                  <path class='deco-layer deco-layer--1' d='M30.913,43.944c0,0,42.911-34.464,87.51-14.191c77.31,35.14,113.304-1.952,146.638-4.729
          c48.654-4.056,69.94,16.218,69.94,16.218v54.396H30.913V43.944z' fill='#FFFFFF' opacity='0.6'></path>
                    <path class='deco-layer deco-layer--2' d='M-35.667,44.628c0,0,42.91-34.463,87.51-14.191c77.31,35.141,113.304-1.952,146.639-4.729
          c48.653-4.055,69.939,16.218,69.939,16.218v54.396H-35.667V44.628z' fill='#FFFFFF' opacity='0.6'></path>
                    <path class='deco-layer deco-layer--3' d='M43.415,98.342c0,0,48.283-68.927,109.133-68.927c65.886,0,97.983,67.914,97.983,67.914v3.716
          H42.401L43.415,98.342z' fill='#FFFFFF' opacity='0.7'></path>
                    <path class='deco-layer deco-layer--4' d='M-34.667,62.998c0,0,56-45.667,120.316-27.839C167.484,57.842,197,41.332,232.286,30.428
          c53.07-16.399,104.047,36.903,104.047,36.903l1.333,36.667l-372-2.954L-34.667,62.998z' fill='#FFFFFF'></path>
                </svg>
                </div>

                <div class="card-body bg-white mt-0 shadow">
                  <ul class="list-unstyled mb-5 position-relative">
                    <li>
                      BeeFree offers cleaning services for your business needs: office, nurseries, schools,shops and
                      churches. <b>The office cleaning services</b> are carried out by our most experienced and well
                      trained
                      cleaners. Office cleaning is a weekly service, and we recommend it be carried out early in the
                      morning
                      or late afternoons to ensure that our cleaners do not get in your way. Communication is key! We ask
                      for any specific instructions in order to deliver the the best possible office cleaning service.
                    </li>
                  </ul>


                  <a routerLink="/contact-us" class="btn btn-outlined btn-green btn-lg" data-wow-delay="0.7s">Booking
                    now</a>
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="row">
              <div class="col-12 col-md-6 princing-item green">
                <div class="pricing-divider ">
                  <h3 class="text-light">End of tenancy</h3>
                  <svg class='pricing-divider-img' enable-background='new 0 0 300 100' height='100px' id='Layer_1'
                       preserveAspectRatio='none' version='1.1' viewBox='0 0 300 100' width='300px' x='0px'
                       xml:space='preserve' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns='http://www.w3.org/2000/svg'
                       y='0px'>
                  <path class='deco-layer deco-layer--1' d='M30.913,43.944c0,0,42.911-34.464,87.51-14.191c77.31,35.14,113.304-1.952,146.638-4.729
          c48.654-4.056,69.94,16.218,69.94,16.218v54.396H30.913V43.944z' fill='#FFFFFF' opacity='0.6'></path>
                    <path class='deco-layer deco-layer--2' d='M-35.667,44.628c0,0,42.91-34.463,87.51-14.191c77.31,35.141,113.304-1.952,146.639-4.729
          c48.653-4.055,69.939,16.218,69.939,16.218v54.396H-35.667V44.628z' fill='#FFFFFF' opacity='0.6'></path>
                    <path class='deco-layer deco-layer--3' d='M43.415,98.342c0,0,48.283-68.927,109.133-68.927c65.886,0,97.983,67.914,97.983,67.914v3.716
          H42.401L43.415,98.342z' fill='#FFFFFF' opacity='0.7'></path>
                    <path class='deco-layer deco-layer--4' d='M-34.667,62.998c0,0,56-45.667,120.316-27.839C167.484,57.842,197,41.332,232.286,30.428
          c53.07-16.399,104.047,36.903,104.047,36.903l1.333,36.667l-372-2.954L-34.667,62.998z' fill='#FFFFFF'></path>
                </svg>
                </div>

                <div class="card-body bg-white mt-0 shadow">
                  <ul class="list-unstyled mb-5 position-relative">
                    <li>
                      Just 24 hours after contacting us, we able to provide you with comprehensive end of tenancy
                      cleaning. It is the most strongly recommended when you are selling a house or moving in/out. No
                      matter if you are the owner of a property, a landlord of a flat or a tenant, a particular interior
                      will be neat and shiny in the blink of an eye!
                      We provide you with excellent cleaning services and we always meet any requirements of an estate
                      agency. We focus on every single detail!
                      Please note:

                      The property must be ready to be cleaned at the moment of our arrival. We do not take responsibility
                      of the ingrained dirt which is impossible to be eliminated with the use of detergents. You have to
                      defrost your freezers before we come, because it takes too much time. If you want your wardrobes and
                      cupboards to be washed as well, please empty them earlier. Our end of tenancy cleaning service does
                      not concern walls or any old paint.
                    </li>
                  </ul>


                  <a routerLink="/contact-us" class="btn btn-outlined btn-green btn-lg" data-wow-delay="0.7s">Booking
                    now</a>
                </div>
              </div>
              <div class="col-12 col-md-6 princing-item blue">
                <div class="pricing-divider ">
                  <h3 class="text-light">After party cleaning</h3>
                  <svg class='pricing-divider-img' enable-background='new 0 0 300 100' height='100px' id='Layer_1'
                       preserveAspectRatio='none' version='1.1' viewBox='0 0 300 100' width='300px' x='0px'
                       xml:space='preserve' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns='http://www.w3.org/2000/svg'
                       y='0px'>
                  <path class='deco-layer deco-layer--1' d='M30.913,43.944c0,0,42.911-34.464,87.51-14.191c77.31,35.14,113.304-1.952,146.638-4.729
          c48.654-4.056,69.94,16.218,69.94,16.218v54.396H30.913V43.944z' fill='#FFFFFF' opacity='0.6'></path>
                    <path class='deco-layer deco-layer--2' d='M-35.667,44.628c0,0,42.91-34.463,87.51-14.191c77.31,35.141,113.304-1.952,146.639-4.729
          c48.653-4.055,69.939,16.218,69.939,16.218v54.396H-35.667V44.628z' fill='#FFFFFF' opacity='0.6'></path>
                    <path class='deco-layer deco-layer--3' d='M43.415,98.342c0,0,48.283-68.927,109.133-68.927c65.886,0,97.983,67.914,97.983,67.914v3.716
          H42.401L43.415,98.342z' fill='#FFFFFF' opacity='0.7'></path>
                    <path class='deco-layer deco-layer--4' d='M-34.667,62.998c0,0,56-45.667,120.316-27.839C167.484,57.842,197,41.332,232.286,30.428
          c53.07-16.399,104.047,36.903,104.047,36.903l1.333,36.667l-372-2.954L-34.667,62.998z' fill='#FFFFFF'></path>
                </svg>
                </div>

                <div class="card-body bg-white mt-0 shadow">
                  <ul class="list-unstyled mb-6 position-relative">
                    <li>
                      The party was great but the, house looks terrible,right?Want the fun without the mess? Well we can
                      take care of the mess with our specially designed after <b>party cleaning service</b> after you take
                      care
                      of the fun! Our after party cleaning is the service you need if you would like to enjoy the fun, but
                      don’t want to deal with the mess. Our trained and experienced cleaners are able to clean the
                      property into shape after a party, leaving no traces of the party from the night before. BeeFree
                      cleaning services LTD is able to provide cleaners at the time and day that best suits its customers
                      ensuring a swift after party cleaning service.
                    </li>
                  </ul>


                  <a routerLink="/contact-us" class="btn btn-outlined btn-blue btn-lg" data-wow-delay="0.7s">Booking
                    now</a>
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="row">
              <div class="col-12 col-md-9 princing-item red">
                <div class="pricing-divider ">
                  <h3 class="text-light">One off cleaning</h3>
                  <svg class='pricing-divider-img' enable-background='new 0 0 300 100' height='100px' id='Layer_1'
                       preserveAspectRatio='none' version='1.1' viewBox='0 0 300 100' width='300px' x='0px'
                       xml:space='preserve' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns='http://www.w3.org/2000/svg'
                       y='0px'>
                  <path class='deco-layer deco-layer--1' d='M30.913,43.944c0,0,42.911-34.464,87.51-14.191c77.31,35.14,113.304-1.952,146.638-4.729
          c48.654-4.056,69.94,16.218,69.94,16.218v54.396H30.913V43.944z' fill='#FFFFFF' opacity='0.6'></path>
                    <path class='deco-layer deco-layer--2' d='M-35.667,44.628c0,0,42.91-34.463,87.51-14.191c77.31,35.141,113.304-1.952,146.639-4.729
          c48.653-4.055,69.939,16.218,69.939,16.218v54.396H-35.667V44.628z' fill='#FFFFFF' opacity='0.6'></path>
                    <path class='deco-layer deco-layer--3' d='M43.415,98.342c0,0,48.283-68.927,109.133-68.927c65.886,0,97.983,67.914,97.983,67.914v3.716
          H42.401L43.415,98.342z' fill='#FFFFFF' opacity='0.7'></path>
                    <path class='deco-layer deco-layer--4' d='M-34.667,62.998c0,0,56-45.667,120.316-27.839C167.484,57.842,197,41.332,232.286,30.428
          c53.07-16.399,104.047,36.903,104.047,36.903l1.333,36.667l-372-2.954L-34.667,62.998z' fill='#FFFFFF'></path>
                </svg>
                </div>

                <div class="card-body bg-white mt-0 shadow">
                  <ul class="list-unstyled mb-5 position-relative">
                    <li>
                      <b>One-off cleaning</b> is a professional cleaning for clients who do not need a cleaner on a
                      regular
                      basis. You able to just order a cleaner when a need of cleaning arises. We can supply you with
                      professional cleaning staff that can dust sweep, and clean your house into shape at a great price! A
                      lot of people book this kind of cleaning services Southampton just before some holidays, in the
                      spring time, before some very important celebrations or just to refresh their houses. We can clean
                      from top to bottom- including kitchen deep cleaning, oven and hob extractor cleaning, deep bathroom
                      cleaning, carpet and upholstery cleaning services, window and conservatory cleaning and many more…

                      The most important you need to know about this cleaning is that it’s take more time than usual
                      cleaning. The DEEP cleaning services cant’t be done in 2- 3 hours and this is the reason to be more
                      expensive. Our experienced and reliable cleaners will clean everything in details. Our minimum hours
                      for this cleaning are 4.

                      When you book this service with BeeFree cleaning services LTD we’ll give you a change to book one-
                      off cleaning including professional cleaning materials or without materials. Our customers prefer to
                      book the service with our cleaning materials and equipment- to be honest this better than going
                      shopping and wondering which product works better for limescale, bathroom tiles, toilet clean, etc.
                      The cleaning products we use for the job are subject to additional charge. Any other additional
                      services can be booked as well- they are subject to additional charge.
                    </li>
                  </ul>
                  <a routerLink="/contact-us" class="btn btn-outlined btn-red btn-lg" data-wow-delay="0.7s">Booking
                    now</a>
                </div>
              </div>
              <div class="col-12 col-md-3 princing-item red">
                  <div class="pricing-divider ">
                    <h3 class="text-light">Car valeting</h3>
                    <svg class='pricing-divider-img' enable-background='new 0 0 300 100' height='100px' id='Layer_1'
                         preserveAspectRatio='none' version='1.1' viewBox='0 0 300 100' width='300px' x='0px'
                         xml:space='preserve' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns='http://www.w3.org/2000/svg'
                         y='0px'>
                    <path class='deco-layer deco-layer--1' d='M30.913,43.944c0,0,42.911-34.464,87.51-14.191c77.31,35.14,113.304-1.952,146.638-4.729
            c48.654-4.056,69.94,16.218,69.94,16.218v54.396H30.913V43.944z' fill='#FFFFFF' opacity='0.6'></path>
                      <path class='deco-layer deco-layer--2' d='M-35.667,44.628c0,0,42.91-34.463,87.51-14.191c77.31,35.141,113.304-1.952,146.639-4.729
            c48.653-4.055,69.939,16.218,69.939,16.218v54.396H-35.667V44.628z' fill='#FFFFFF' opacity='0.6'></path>
                      <path class='deco-layer deco-layer--3' d='M43.415,98.342c0,0,48.283-68.927,109.133-68.927c65.886,0,97.983,67.914,97.983,67.914v3.716
            H42.401L43.415,98.342z' fill='#FFFFFF' opacity='0.7'></path>
                      <path class='deco-layer deco-layer--4' d='M-34.667,62.998c0,0,56-45.667,120.316-27.839C167.484,57.842,197,41.332,232.286,30.428
            c53.07-16.399,104.047,36.903,104.047,36.903l1.333,36.667l-372-2.954L-34.667,62.998z' fill='#FFFFFF'></path>
                  </svg>
                  </div>

                  <div class="card-body bg-white mt-0 shadow">
                    <ul class="list-unstyled mb-6 position-relative">
                      <li>
                        BeeFree is offering a <b>car valet</b> which is designed for vehicles that require interior fully
                        valeted
                        consisting vacuum, shampooing and stain removal of seats, carpets, mats, door linings, roof lining
                        and sun visors, all plastics and vinyl's cleaned and polished with boot valeted.We are fully
                        insured.
                      </li>
                    </ul>
                    <a routerLink="/contact-us" class="btn btn-outlined btn-red btn-lg" data-wow-delay="0.7s">Booking
                      now</a>
                  </div>
                </div>
            </div>
          </div>
          </div>
          </div>
          </div>
        </div> -->
        <!-- <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a> -->
</section>
