<section class="bg-home">
  <div class="d-flex flex-row justify-content-around">
    <div class="card" style="width: 18rem;">
      <img class="card-img-top" src="assets/images/offert.png" alt="offert">
      <div class="card-body">
        <h5 class="card-title">Day Cleaning</h5>
        <p class="card-text text-justify">Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus numquam illum,
          pariatur non, aperiamriores maiores voluptatum iure error et odit voluptatibus repudiandae quos? Quaerat.</p>
        <a href="#" class="btn btn-primary">15£</a>
      </div>
    </div>
    <div class="card" style="width: 18rem;">
      <img class="card-img-top" src="assets/images/offert.png" alt="offert">
      <div class="card-body">
        <h5 class="card-title">Weekly Cleaning</h5>
        <p class="card-text text-justify">Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus numquam illum,
          pariatur non, aperiamriores maiores voluptatum iure error et odit voluptatibus repudiandae quos? Quaerat.</p>
        <a href="#" class="btn btn-primary">25£</a>
      </div>
    </div>
    <div class="card" style="width: 18rem;">
      <img class="card-img-top" src="assets/images/offert.png" alt="offert">
      <div class="card-body">
        <h5 class="card-title">Fortnightly Cleaning</h5>
        <p class="card-text text-justify">Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus numquam illum,
          pariatur non, aperiamriores maiores voluptatum iure error et odit voluptatibus repudiandae quos? Quaerat.</p>
        <a href="#" class="btn btn-primary">35£</a>
      </div>
    </div>
  </div>
</section>
