*, *:before, *:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

//VARIABLES
$black: #211915;
$yellow:	#f4de42;
$beige: #fefae5;
$blue: #4284df;
$baseFontSize: 16px;

html{
  font-size: $baseFontSize;
  scroll-behavior: smooth;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 0.85rem;
  }
