<div class="slider__warpper">
  <div class="flex__container flex--bg flex--active">
    <div class="flex__item flex__item--left">
      <div class="flex__content">
        <p class="text--sub">Welcome to Bee Free</p>
        <h1 class="text--big">Cleaning Services</h1>
        <p class="text--normal">Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta explicabo culpa
          assumenda labore similique nihil voluptates, possimus delectus nobis odio corpori</p>
      </div>
      <p class="text__background">BEE FREE</p>
    </div>
    <div class="flex__item flex__item--right"></div>
    <img class="logo__img" src="assets/images/logo.png"/>
  </div>
  <div class="col-12 bg-dark">
    <div class="service__header text-center">
    <h3 class="text-uppercase">Our Services</h3>
    <p>We offer full cleaning services</p>
  </div>
  <div class="service__container">
    <div class="col-4">
      <div class="service__img">
      <img src="assets/images/service-icon-1.png" />
    </div>
      <h3 class="text-center">Prenium Cleaning</h3>
      <p>Home to the most popular maid service in Wasilla is the place to be if you settle for nothing but the very best! This service is so thorough and comprehensive that the wow effect is a given!</p>
    </div>
    <div class="col-4">
        <div class="service__img">
        <img src="assets/images/service-icon-3.png" />
        </div>
        <h3 class="text-center">Prenium Cleaning</h3>
        <p>Home to the most popular maid service in Wasilla is the place to be if you settle for nothing but the very best! This service is so thorough and comprehensive that the wow effect is a given!</p>
      </div>
      <div class="col-4">
          <div class="service__img">
          <img src="assets/images/service-icon-4.png" />
          </div>
          <h3 class="text-center">Prenium Cleaning</h3>
          <p>Home to the most popular maid service in Wasilla is the place to be if you settle for nothing but the very best! This service is so thorough and comprehensive that the wow effect is a given!</p>
        </div>
  </div>
  </div>
</div>
