<section class="bg-home">
  <div class="d-flex flex-wrap justify-content-center align-content-around flex-column">
    <div class="jumbotron jumbotron-fluid text-center container">
      <h1 class="display-4">South Clean Serivce</h1>
      <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem cupiditate maxime quo, ea
        molestiae magnam illum, perspiciatis
        necessitatibus id laudantium minus vel commodi officiis, totam nemo error. Ipsum, provident porro.</p>
      <button class="btn btn-outline-success">Check our offers</button>
    </div>
  </div>
  <div class="d-flex flex-row justify-content-around">
    <div class="card" style="width: 18rem;">
      <img class="card-img-top" src="assets/images/offert.png" alt="offert">
      <div class="card-body">
        <h5 class="card-title">Day Cleaning</h5>
        <p class="card-text text-justify">Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus numquam illum,
          pariatur non, aperiamriores maiores voluptatum iure error et odit voluptatibus repudiandae quos? Quaerat.</p>
        <a href="#" class="btn btn-primary">15£</a>
      </div>
    </div>
    <div class="card" style="width: 18rem;">
      <img class="card-img-top" src="assets/images/offert.png" alt="offert">
      <div class="card-body">
        <h5 class="card-title">Weekly Cleaning</h5>
        <p class="card-text text-justify">Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus numquam illum,
          pariatur non, aperiamriores maiores voluptatum iure error et odit voluptatibus repudiandae quos? Quaerat.</p>
        <a href="#" class="btn btn-primary">25£</a>
      </div>
    </div>
    <div class="card" style="width: 18rem;">
      <img class="card-img-top" src="assets/images/offert.png" alt="offert">
      <div class="card-body">
        <h5 class="card-title">Fortnightly Cleaning</h5>
        <p class="card-text text-justify">Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus numquam illum,
          pariatur non, aperiamriores maiores voluptatum iure error et odit voluptatibus repudiandae quos? Quaerat.</p>
        <a href="#" class="btn btn-primary">35£</a>
      </div>
    </div>
  </div>
</section>
