<div class="slider__warpper">
  <div class="flex__container flex--bg flex--active">
    <div class="flex__item flex__item--left">
      <div class="flex__content">
        <p class="text--sub">Welcome to Bee Free</p>
        <h1 class="text--big">Cleaning Services</h1>
        <p class="text--normal">Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta explicabo culpa
          assumenda labore similique nihil voluptates, possimus delectus nobis odio corpori</p>
      </div>
      <p class="text__background">BEE FREE</p>
    </div>
    <div class="flex__item flex__item--right"></div>
    <img class="logo__img" src="assets/images/logo.png"/>
  </div>
</div>
