*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

//HOME SECTION

.home {
  background-image: url('../../assets/images/home_bg.jpg');
  background-size: cover;
  background-position: center center;
  height: 100vh;
  width: 100vw;
  max-width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
}

.home__content {
  font-size: 3.5rem;
  width: 80vw;
  display: flex;
  align-items: center;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  p {
    color: white;
    font-family: 'Roboto', sans-serif;
    transform: all 1s;
    animation: scaleText 5s infinite;
    span {
      font-weight: bold;
    }
  }
}

.home__btn {
  display: flex;
  position: absolute;
  height: 80vh;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  margin-top: 50vh;
  justify-content: center;
}

.home__darken-overlay {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

@keyframes scaleText {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}

.floating-arrow {
  -webkit-animation: floating-arrow 1.6s infinite ease-in-out 0s;
  -o-animation: floating-arrow 1.6s infinite ease-in-out 0s;
  animation: floating-arrow 1.6s infinite ease-in-out 0s;
}

@keyframes floating-arrow {
  from {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  65% {
    -webkit-transform: translateY(11px);
    transform: translateY(11px);
  }
  to {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

a.btn.btn-default.btn-scroll {
  border: 2px solid #fff;
  color: #fff;
  border-radius: 100%;
}

@media screen and (max-width: 520px) {
  ::placeholder {
    font-size: 10px;
  }
  .scroll-down {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    top: 45px;
  }
}

//SERVICE SECTION

.service {
  padding-top: 1rem;
  padding-bottom: 2rem;
  background-color: #f1f4fa;
}

.service__header {
  text-align: center;
}

.service__header-text {
  font-size: 2em;
  text-transform: uppercase;
  margin-bottom: 0.3rem;
}

.service__header-subtext {
  font-size: 1em;
}

.wrap {
  display: flex;
  background: white;
  padding: 1rem 1rem 1rem 1rem;
  border-radius: 0.5rem;
  box-shadow: 7px 7px 30px -5px rgba(0, 0, 0, 0.1);
  margin-bottom: 2rem;
  cursor: pointer;
  &:hover {
    background: linear-gradient(135deg, #6394ff 0%, #0a193b 100%);
    color: white;
  }
  p {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    line-height: 25px;
  }
}

.ico-wrap {
  margin: auto;
}

.mbr-iconfont {
  font-size: 4.5rem !important;
  color: #313131;
  margin: 1rem;
  padding-right: 1rem;
}
.vcenter {
  margin: auto;
}

.mbr-section-title3 {
  text-align: left;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  line-height: 25px;
}
h2 {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}
.display-5 {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1.4rem;
}
.mbr-bold {
  font-weight: 700;
}

.display-6 {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1rem;
}

//SECTION ORDER

.order {
  padding-top: 1rem;
  padding-bottom: 3rem;
}

.order__header {
  @extend .service__header;
}

.order__header-text {
  font-size: 2em;
  text-transform: uppercase;
  margin-bottom: 0.3rem;
}

.order__header-subtext {
  font-size: 1em;
  margin-bottom: 3rem;
}

.order__container {
  h4 {
    color: #ffa500;
    font-weight: bold;
    font-size: 30px;
  }
  .subheading {
    color: #3931af;
    font-size: 20px;
  }
  .row:nth-child(n + 3) {
    margin-top: 10%;
  }
}
.how-img {
  text-align: center;
}

.fa-size {
  font-size: 7em;
}

.fa-circle-color {
  color: #3931af;
}

.fa-icon-color {
  color: #ffa500;
  opacity: 0.8;
}

.fa-text {
  font-size: 2rem;
  color: #3931af;
}

//SECTION TESTIMONIALS

.testimonials {
  background-color: #f1f4fa;
  padding-top: 1rem;
  padding-bottom: 3rem;
}

.testimonials__img {
  img {
    max-width: 12rem;
  }
}

.testimonials__header {
  text-align: center;
}

.testimonials__header-text {
  font-size: 2em;
  text-transform: uppercase;
  margin-bottom: 0.3rem;
}

.testimonials__header-subtext {
  font-size: 1em;
}

.testimonials__text {
  margin: 1rem 12rem 0 12rem;
  text-align: justify;
}
